# Python bytecode
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store

# Django artifacts
db.sqlite3
*.log

# Translations
*.pot

# Swap files (vim, etc.)
*.swp
*.swo
*.py~

# Environment variables
.env
